body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto; 
}

article {
    flex: 2; 
    overflow-y: auto;
}

aside {
    flex: 1; 
    overflow-y: auto; 


header, footer {
    padding: 10px;
    background-color: #f0f0f0; 
    text-align: center;
}

h2, h3 {
    margin: 10px 0; 
}

.logo {
    font-size: 2rem;
    margin-right: 10px;
}
